/* Reusable Styles
======================== */
$primary-black: #1a1a1a;
$primary-green: #2bb656;
$primary-blue: #1d67a7;
$twitter-blue: #59BBFF;

$background-dark-gray: #1a252f;
$background-header-gray: #b3b3b3;
$background-chart-gray: #f7f7f7;
$background-light-gray: #d5d5d5;

$text-black: #4d4d4d;
$text-dark-gray: #666;
$text-gray: #999;
$CTA-green: #59cb59;
$CTA-hover-green: #218d43;

$total: blue;
$positive: green;
$neutral: sandybrown;
$negative: red;

$font-family: 'Open Sans', sans-serif;


$font-family: 'Open Sans', sans-serif;

body {
  background-image: url('http://akveo.com/blur-admin/assets/img/blur-bg-blurred.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.highchart {
  width: 800px;
}

#highchart {
  width: 800px;
}

// Header.JSX

.header {
  text-align: center;
  
  h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  font-family: $font-family;
  margin-top: 8px;
  margin-bottom: 0px;
  }

  #twit {
    height: 40px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 15px;
  }  
}

.default {
  height: 600px;
  background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.8));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  
  .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;

    h1, h2 {
    color: white;
    text-align: center;
    }

    h1 {
    order: 2;
    font-size: 40px;
    font-weight: 700;
    }

    h2 {
    order: 3;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #cfcfcf;
    }

    #twit {
      height: 40px;
      width: auto;
      margin-right: 10px;
      margin-bottom: 15px;
    }

    #searchForm {
    order: 4;
    width: 350px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;

      input:focus {
      border: 1px solid #59BBFF;
      box-shadow: 0 0 4px #59BBFF;
      }

      .btn-default {
      background-color: #59BBFF;
      border-color: #59BBFF;
      font-family: $font-family;
      font-weight: 600;
      color: white;
      }
    }
  }
}

// TweetList, Tweets
.results {
  height: 570px;
  
   .dashboard {
    height: 570px;
    overflow-y: hidden;


    h1 {
      color: $text-black;
      text-align: center;
      font-size: 32px;
      margin-bottom: 30px;
    }

    /* Activity Chart Styles
    ======================== */
    .twitter-activity {
      width: 800px;
      margin-right: auto;
      margin-left: auto;
      display: block;

      h4 {
        margin-top: 20px;
        margin-bottom: 0;
        padding: 15px 5px 10px;
        color: black;
        font-weight: 600;
        border-radius: 5px 5px 0 0;
        font-size: 20px;
        text-align: center;
        background-color: $background-header-gray;
      }

      .tweet-counters {
        display: flex;
        border-top: 1px solid $background-dark-gray;

        .total {
          width: 100%;
          position: relative;
          
          h3 {
            margin: 0;
            padding: 10px 0;
            color: black;
            font-size: 14px;
            text-align: center;
            font-weight: 600;
            background-color: $background-light-gray;
          }

          .total-tweets {
            height: 5px;
            background-color: $twitter-blue;
          }

          #twit {
            height: 5px;
            width: 10px
          }  
          .total-positive {
            height: 5px;
            background-color: green;
          }

          .total-neutral {
            height: 5px;
            background-color: goldenrod;
          }

          .total-negative {
            height: 5px;
            background-color: red;
          }

          .counter {
            padding: 5px 0;
            color: #737373;
            font-size: 28px;
            font-weight: 600;
            text-align: center;
            background-color: white;
            transition: all 0.2s ease-in-out;

            &.positive {
              color: $positive;
            }

            
            &.neutral {
              color: $neutral;
            }

            &.negative {
              color: $negative;
            }
          }

          .total-tweets + .counter {
            border-radius: 0 0 0 5px;
          }

          .total-negative + .counter {
            border-radius: 0 0 5px 0;
          }

          .arrow {
            position: absolute;
            bottom: 20px;
            right: 15px;
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            transition: all 0.2s ease-in-out;

            &.positive {
              border-bottom: 10px solid $positive;
            }

            &.neutral,
            &.null {
              border-bottom: 10px solid $neutral;
            }

            &.negative {
              border-bottom: 10px solid $negative;
            }
          }
        }
      }

      .overall-sentiment {
        margin-top: 30px;
        display: inline-block;
        background-color: $background-chart-gray;
        border-radius: 5px 5px 5px 5px;

        h3 {
          display: inline-block;
          padding: 10px 0 10px 10px;
          margin: 0;
          width: 220px;
          color: $text-black;
          font-size: 24px;
          border-right: 1px solid $background-dark-gray;
          border-radius: 5px 0 0 5px;
          background-color: $background-light-gray;
        }

        p {
          display: inline-block;
          margin-bottom: 0;
          padding: 0 10px;
          font-size: 24px;
          color: $text-dark-gray;

          &.positive {
            color: $positive;
          }

          &.negative {
            color: $negative;
          }
        }
      }
    }
  }

  .stream {
    height: 700px;
    // background-color: white;
    // padding: 0;
    // float: left;
    
    padding: 0 25px 0 15px;


    // h1 {
    //   margin-bottom: 0;
    //   padding: 15px 5px 10px;
    //   border-radius: 5px 5px 0 0;
    //   font-size: 20px;
    //   text-align: center;
    // }

    .viewTitle {
      margin-bottom: 0;
      padding: 15px 5px 10px;
      color: black;
      border-radius: 5px 5px 0 0;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      background-color: #b3b3b3;
    }

    .tweetMap {
      height: 600px;
      background-color: white;
      padding-bottom: 20px;
      overflow-y: scroll;
      overflow-x: hidden;
      box-shadow: 0 0 1px 1px rgba(0,0,0, 0.2);

      .tweetInfo {
        padding: 10px 0px 10px 15px;
        margin: 5px 10px 5px 10px;
        border-bottom: 1px solid #ccc;
        background-color: white;
        box-shadow: 0 0 1px 1px rgba(0,0,0, 0.2);

        .profilePic {
          display: inline-block;
          vertical-align: top;
          margin-right: 10px;
          height: 50px;
          width: 50px;
          border-radius: 5px;
        }

        .data {
          display: inline-block;
          width: 80%;
          position: relative;

          .user {
            display: inline-block;
            width: 90%;

            .name {
              font-size: 14px;
              font-weight: 700;
              margin-right: 10px;
            }

            .username {
              font-size: 14px;
            }
          }

          .sentiment {
            position: absolute;
            top: 5px;
            right: 0;
            display: inline-block;            

            &.Positive {
              height: 10px;
              width: 10px;
              margin-right: 5px;
              border-radius: 50%;
              background-color: green;
            }

            &.Neutral,
            &.Null {
              height: 10px;
              width: 10px;
              margin-right: 5px;
              border-radius: 50%;
              background-color: goldenrod;
            }

            &.Negative {
              height: 10px;
              width: 10px;
              margin-right: 5px;
              border-radius: 50%;
              background-color: red;
            }
          }     

          .text {
            font-size: 12px;
          }
        }
      }
    }
  }
}




// Footer.jsx

.footer {
  h1 {
    font-size: 40px;
    color: white;
    text-align: center;
  }
}